*{
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


/*Global Font Formats and Containers*/


h1{
    font-size: 44px;
    font-weight: 600;
    color: #65919d;

}

p {
    font-size: 16px;
    font-weight: 500;
    color: darkgray;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color: #65919d;

}

h5 {
    font-size: 14px;
    font-weight: 300;
}
  


/*Nav*/

.navL {
    position: fixed;
    text-align: center;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(6px);
    background-color: hsla(0, 0%, 100%, .8);
    filter:blur(0);
    -webkit-filter: blur(0);
    width: 100%;
    height: 60px;
    z-index: 10;
    overflow: hidden;
}


img.logo{
    width: 100px;
    line-height: 40px;
    padding: 0 20px;
    
}


nav ul li {
    display: inline;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 0 30px;
    text-decoration: none !important;
    transition: 0.5s;
}


nav ul li a:hover {
    transition: 0.5s;
    color: #65919d;

}

.checkbtn{
    color: black;
    float: left;
    line-height: 50px !important;
    margin-left: 20px;
    cursor: pointer;
    display: none;
}

#check{
    display:none;
}


/*Landing*/


.landing {
    text-align: center;
    width: 100%;
}

.landingtitle {
    z-index: 1;
    text-align: left;
    position: relative;
    color: white;
    margin-top: 18%;
    margin-left: 10%;
    width: 50%;
    font-size: 50px;
}
    
.landingsub {
    z-index: 1;
    text-align: left;
    position: relative;
    color: white;
    margin-left: 10%;
    width: 70%;
    font-size: 20px;  
}

.landingimg {
    position: absolute;
    float: left;
    margin-top: 60px;
    object-fit: cover;
    width: 110%;
    height: 100vh;
}

.uscimg {
    display: none;
}


/* Buttons */

.spotifyButton {
z-index: 1;
  position: relative;
    float: left;
    margin-left: 10%;
  line-height: 40px;
  height: 40px;
  width: 180px;
  border: 0.5px solid white;
    border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}

.spotifyButton a {
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

#saButtons {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#saButtons a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  background: white;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#saButtons:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#saButtons:hover a {
  color: black;
    text-decoration: none;
}

.appleButton {
    z-index: 1;
  position: relative;
    float: left;
    margin-left: 1%;
  line-height: 40px;
  height: 40px;
  width: 180px;
  border: 0.5px solid white;
    border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}

.appleButton a {
    color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Conversations With */

.section1title {
        text-align: center;
        position: relative;
        padding-top: 10vh;
        padding-bottom: 1vh;
        width: 100%;
}

.section1sub {
    text-align: center;
    
}

.container1 {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50vh;
}

.grid {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
}

.shadow {
    transition: 1s;
}

.icon {
    padding: 50px;
}

.shadow:hover {
    transition: 1s;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.interestFont{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    background: -webkit-linear-gradient(#80d0c7, #13547a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
}

.interestTitle{
    text-align: center;
}


/* The Goal */

.section2 {
    padding-bottom: 0vh;
}

.container2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.section2title {
        position: relative;
        margin: auto;        
        text-align: center;
        padding-bottom: 5vh;
        width: 90%;

}


.trailerButton {
    text-align: center;
  position: relative;
    margin: auto;
  line-height: 40px;
  height: 40px;
  width: 300px;
  border: 0.5px solid #65919d;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}


.trailerButton a {
      color: #65919d;

  text-decoration: none;
  letter-spacing: 1px;
}

#trailerButtonid {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#trailerButtonid a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle2 {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
      background: #65919d;

  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#trailerButtonid:hover #circle2 {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#trailerButtonid:hover a {
  color: white;
    text-decoration: none;
}

.container3 {
    margin-top: 10vh;
}


/* Slideshow */

.slideshow { 
    position: relative; 
    width: 100%;
    float: left;
}

.slideshow img { 
    position:absolute; 
    width: 100%;
}



.section3 {
    position: relative;
    padding-top: 40%;
}



/* Full Episodes */

.section3title {
        text-align: center;
        position: relative;
        padding-top: 0vh;
        padding-bottom: 1vh;
        width: 100%;
}

.section3sub {
    text-align: center;
}


.pod {
    width: 80%;
    margin-top: 2% !important;
    margin-left: 10% !important;
}


/* Team */



.container5 {
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.section5title {
        text-align: center;
        position: relative;
        width: 100%;

}


.grid2 {
    margin-left: 10%;
    margin-right: 10%;
}

.teamPic {
    width: 100%;
    margin-bottom: 10%;
}

.teamTitle{
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    width: 100%;
}

.teamSub {
    text-align: center;
    width: 100%;
}


/* Form */


.container6 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}


.fill {
    color: black !important;
    border-radius: 50px !important;
}


.form-container {
    width: 100%;
    margin: auto;
    padding: 5%;
}


.section4title {
    text-align: center;
    position: relative;
    padding-bottom: 1vh;
    width: 100%;
}

.section4sub {
    text-align: center;
    
}


.one {
    
  border: 0.5px solid #7094b0;
    border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
    color: #7094b0;
  letter-spacing: 1.5px;
}

::placeholder {
    color: #7094b0 !important;
}

.submit {
    
  border: 0.5px solid #7094b0;
    border-radius: 0px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
    color: #7094b0;
    background-color: white;
  letter-spacing: 1.5px;
}

button:hover[type="submit"] {
            color: #7094b0 !important;
    background-color: #ebf2f7 !important;
    border: 0.5px solid #7094b0 !important;
    border-radius: 0px !important;
		}





/*Footer*/

img.logo{
    width: 75px;
    line-height: 40px;
    padding: 0 10px;
    
}
nav ul li a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    text-decoration: none !important;
    transition: 0.5s;
}

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}