*{
    padding: 0;
    margin: 0;
}

html, body {
    overflow-x: hidden;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}


/*Global Font Formats and Containers*/


h1{
    font-size: 44px;
    font-weight: 600;
    color: #65919d;

}

p {
    font-size: 16px;
    font-weight: 500;
    color: darkgray;
}

h4 {
    font-size: 24px;
    font-weight: 500;
    color: #65919d;

}

h5 {
    font-size: 14px;
    font-weight: 300;
}
  


/*Nav*/

.navL {
    position: fixed;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6px);
    background-color: hsla(0, 0%, 100%, .5);
    filter:blur(0);
    -webkit-filter: blur(0);
    width: 100%;
    height: 60px;
    z-index: 10;
    overflow: hidden;
}


img.logo{
    width: 100px;
    line-height: 40px;
    padding: 0 20px;
    
}


nav ul li {
    display: inline;
    line-height: 60px;
    margin: 0 5px;
}

nav ul li a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 0 30px;
    text-decoration: none !important;
    transition: 0.5s;
}


nav ul li a:hover {
    transition: 0.5s;
    color: #65919d;

}


/*Landing*/

.landing{
    text-align: center;
    margin-top: 10vh;
}

.landingtitle{
    font-size: 50px;
        margin: auto;
        max-width: 85%;
    }

    
.landingsub {
    z-index: 1;
    text-align: center;
    position: relative;
    color: darkgray;
    width: 100%;
    margin: auto;
    margin-top: 2vh;
    font-size: 20px;  
}

.landingimg {
    width: 65%;
    margin: auto;
    display: block;
}


/* Buttons */

.landingButtons {
    margin-top: 2vh;
    width: 100%;
    text-align: center;
    margin-bottom: 2vh;
}

.spotifyButton {
    display: inline-block;
    text-align: center;
    position: relative;
  line-height: 40px;
  height: 40px;
  width: 180px;
  border: 0.5px solid #65919d;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}

.spotifyButton a {
  color: #65919d;
  text-decoration: none;
  letter-spacing: 1px;
}

#saButtons {
  overflow: hidden;
  cursor: pointer;
}

#saButtons a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
      background: #65919d;

  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#saButtons:hover #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#saButtons:hover a {
  color: white;
    text-decoration: none;
}

.appleButton {
    display: inline-block;
    text-align: center;
    position: relative;
    margin-left: 1%;
  line-height: 40px;
  height: 40px;
  width: 180px;
  border: 0.5px solid #65919d;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}

.appleButton a {
color: #65919d;

  text-decoration: none;
  letter-spacing: 1px;
}







/* Conversations With */

.section1title {
        text-align: center;
        position: relative;
        padding-top: 10vh;
        padding-bottom: 1vh;
        width: 100%;
}

.section1sub {
    text-align: center;
    
}

.container1 {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0vh;
}

.grid {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 3%;
}

.shadow {
    transition: 1s;
}

.icon {
    padding: 50px;
}

.shadow:hover {
    transition: 1s;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
}

.interestFont{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
    background: -webkit-linear-gradient(#80d0c7, #13547a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 34px;
}

.interestTitle{
    text-align: center;
}


/* The Goal */

.section2 {
    padding-bottom: 0vh;
}

.container2 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20vh;
    padding-bottom: 20vh;
}

.section2title {
        position: relative;
        margin: auto;        
        text-align: center;
        padding-bottom: 5vh;
        width: 90%;

}


.trailerButton {
    text-align: center;
  position: relative;
    margin: auto;
  line-height: 40px;
  height: 40px;
  width: 300px;
  border: 0.5px solid #65919d;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
  letter-spacing: 1.5px;
}


.trailerButton a {
      color: #65919d;

  text-decoration: none;
  letter-spacing: 1px;
}

#trailerButtonid {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#trailerButtonid a {
  position: relative;
  transition: all .45s ease-Out;
}

#circle2 {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
      background: #65919d;

  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

#trailerButtonid:hover #circle2 {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}

#trailerButtonid:hover a {
  color: white;
    text-decoration: none;
}

.section2btitle{
        position: relative;
        margin: auto;        
        text-align: center;
        padding-bottom: 5vh;
        width: 90%;
}

.container3 {
    margin-top: 10vh;
}


/* Slideshow */

.slideshow { 
    position: relative; 
    width: 100%;
    float: left;
}

.slideshow img { 
    position:absolute; 
    width: 100%;
}



.section3 {
    position: relative;
    padding-top: 10%;
}



/* Full Episodes */

.section3title {
        text-align: center;
        position: relative;
        width: 100%;
}

.section3sub {
    text-align: center;
}

.section3btitle {
    margin-top: 15vh;
        text-align: center;
        position: relative;
        padding-bottom: 5vh;
        width: 100%;
}

.pod {
    width: 80%;
    margin-top: 2% !important;
    margin-left: 10% !important;
}


.container4b{
    margin-top: 15vh;
    width: 89%;
    margin: auto;
    margin-bottom: 5vh;
}


/* Team */



.container5 {
    padding-top: 15vh;
    padding-bottom: 5vh;
}

.section5title {
        text-align: center;
        position: relative;
        width: 100%;

}


.grid2 {
    margin-left: 10%;
    margin-right: 10%;
}

.teamPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-bottom: 10%;
}

.teamTitle{
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    width: 100%;
}

.teamSub {
    text-align: center;
    width: 100%;
}


/* Form */


.container6 {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10vh;
    padding-bottom: 5vh;
}


.fill {
    color: black !important;
    border-radius: 50px !important;
}


.form-container {
    width: 100%;
    margin: auto;
    padding: 5%;
}


.section4title {
    text-align: center;
    position: relative;
    padding-bottom: 1vh;
    width: 100%;
}

.section4sub {
    text-align: center;
    
}


.one {
    
  border: 0.5px solid #7094b0;
    border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
    color: #7094b0;
  letter-spacing: 1.5px;
}

::placeholder {
    color: #7094b0 !important;
}

.submit {
    
  border: 0.5px solid #7094b0;
    border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .8em;
    color: #7094b0;
    background-color: white;
  letter-spacing: 1.5px;
}

button:hover[type="submit"] {
            color: #7094b0 !important;
    background-color: #ebf2f7 !important;
    border: 0.5px solid #7094b0 !important;
    border-radius: 10px !important;
		}





/*Footer*/
@media (max-width: 952px){

img.logo{
    width: 75px;
    line-height: 40px;
    padding: 0 10px;
    
}
nav ul li a {
    color: black;
    font-size: 14px;
    font-weight: 500;
    padding: 0 5px;
    text-decoration: none !important;
    transition: 0.5s;
}
    .section3title {
        padding-top: 10vh;
    }
}

.footer{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.social {
    display: inline;
    padding: 5px;
    font-size: 20px;
    color: darkgray;
  text-decoration: none !important;
}

.social:hover {
    opacity: 0.7;
}

.position {
    font-size: 12px;
}

.containerw {
    padding-top: 10vh;
  width: 80%;
  margin: 2rem auto; 
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem; 
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; 
}

.gallery__item--1 {
position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #65919d;
}

.text1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--1:hover .overlay {
    opacity: 1;

}

.gallery__item--2 {
    position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;

}

.text2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--2:hover .overlay {
    opacity: 1;

}

.gallery__item--3 {
    position: relative;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 4;

}

.text3 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--3:hover .overlay {
    opacity: 1;

}

.gallery__item--4 {
        position: relative;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;

}

.text4 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--4:hover .overlay {
    opacity: 1;

}

.gallery__item--5 {
        position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;

}

.text5 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--5:hover .overlay {
    opacity: 1;

}

.gallery__item--6 {
        position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 7;
}

.text6 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--6:hover .overlay {
    opacity: 1;

}

.gallery__item--7 {
    position: relative;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 7;
}

.text7 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--7:hover .overlay {
    opacity: 1;

}

.gallery__item--8 {
        position: relative;
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}

.text8 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--8:hover .overlay {
    opacity: 1;

}

.gallery__item--9 {
        position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 10;

}

.text9 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--9:hover .overlay {
    opacity: 1;

}

.gallery__item--10 {
        position: relative;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 7;
  grid-row-end: 10;
}

.text10 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--10:hover .overlay {
    opacity: 1;

}

.gallery__item--11 {
        position: relative;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}

.text11 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.gallery__item--11:hover .overlay {
    opacity: 1;

}



@media (max-width: 920px){
    .landingimg{
        margin-top: 5vh;
     width: 80%;   
    }
    
    .gallery{
        width: 100%;
    }
    .landingButtons{
        width: 90%;
        margin: auto;
        margin-top: 5vh;
    }
    
    .trailerButton{
        margin: auto;
    }
    
    .text1, .text2, .text3, .text4, .text5, .text6, .text7, .text8, .text9, .text10, .text11{
        font-size: 12px;
    }
    
    .position {
        display: none;
    }
    .section1sub{
        width: 90%;
        margin: auto;
    }
    .section3sub{
        width: 90%;
        margin: auto;
    }
    .section4sub{
        width: 90%;
        margin: auto;
    }
    .footer{
        width: 90%;
    }
}